body {
    display: flex;
    justify-content: center;
}

.game-container__start-game {
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: cornflowerblue;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-area {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    z-index: 1;
}

.all-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-wrap {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.button-wrap .shuffle-cards-button {
    width: 200px;
    height: 30px;
}

.click {
    pointer-events: none;
}

.counters {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.visible-card {
    pointer-events: none;
    position: absolute;
    width: 85px;
    height: 85px;
    margin: 15px;
}

.hidden-card {
    cursor: pointer;
    position: absolute;
    gap: 10px;
}

.win-game {
    pointer-events: none;
}

.lose-game {
    pointer-events: none;
}

.matched {}

.disabled {
    pointer-events: none;
}

.hidden {
    display: none;
}